input {
  border-color: #00425a;
}

.element2 {
  background-color: rgba(17, 108, 239, 0.3);
  max-height: 100px;
}

textarea {
  height: 318px;
  border-color: #00425a;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: #00235c !important;
  border-radius: 50%;
}
