.btn_back {
  font-family: 'Caveat Brush', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.imgSlide {
  height: 450px;
  width: 80%;
  object-fit: cover;
}

.carousel .control-prev.control-arrow:before {
  border-right: 25px solid #fff !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 25px !important;
  border-top: 25px solid transparent !important;
  border-bottom: 25px solid transparent !important;
}
