.navbar {
  background-color: white;
  height: 100px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .link {
  color: #f3f4f6;
}

.navbar .link:hover {
  color: #e5e7eb;
}

.navImg {
  margin-left: 60px;
}

.divblue {
  position: absolute;
  left: 295px;
  top: 0;
  height: 100%;
  width: calc(100% - 265px);
  background: #00235c;
  border-radius: 0px 0px 0px 60px;
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  font-family: 'Caveat Brush', cursive;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.5px;
  min-width: 160px;
  width: 440px;
  height: 36px;
  margin-right: 10%;
  text-indent: 50px;
  border: 4px solid #ffe600;
  border-radius: 10px;
  outline: none;
}

.loginIcon {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 1;
  color: #ffe600;
}
